body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(49, 5, 49);
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.container:hover{
    color: rgb(255, 0, 170);
    transition: 0.5s ease-in-out;
}
button{
    padding: 10px;
    width: 230px;
    border-radius: 15px;
    border: 2px solid rgb(255, 0, 170);
    background: white;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 20px rgb(255, 0, 170);
    margin: 0 0 0px 30px;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
}